@import "./css/reset.css";
@import "./css/fonts.css";
@import "./css/variables.css";
@import "./css/header_footer.css";

body {
    font-family: Economica;
    color: azure;
}

/* no-scroll is set by openPokemonOverlay and showLoader */
body.no-scroll {
    overflow: hidden;
}

main {
    max-width: 1440px;
    margin: 0 auto;

    padding: 20px;

    min-height: 100dvh;
}

/* FIXED BACKGROUND */
.hero-background {
    position: fixed;
    inset: 0;

    background-image: url("./assets/imgs/background-image.jpg");
    opacity: 0.9;
    filter: blur(5px);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* GRID */
.pokedexGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    padding: 30px;
    justify-items: center;
    /* align-items: center; */
}

/* GLASS CARD */
.pokemonCard {
    width: 240px;
    /* width: 280px; */
    /* max-width: 3200px; */
    position: relative;
    z-index: 5;
    padding: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;

    /* background: rgba(255, 255, 255, 0.08); */

    border: 1px solid rgba(255, 255, 255, 0.5);

    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(18px);

    box-shadow:
        0 8px 32px rgba(0, 0, 0, 0.35),
        inset 0 1px 1px rgba(255, 255, 255, 0.15);

    overflow: hidden;

    transition:
        transform 0.25s ease,
        box-shadow 0.25s ease,
        border-color 0.25s ease;
}

.pokemonCard,
.overlayCard,
.tabBtn,
.statBar {
    --type-bg: var(--default-bg);
    --type-border: var(--default-border);
    --type-shadow: var(--default-shadow);
}

.fire {
    --type-bg: var(--fire-bg);
    --type-border: var(--fire-border);
    --type-shadow: var(--fire-shadow);
}

.water {
    --type-bg: var(--water-bg);
    --type-border: var(--water-border);
    --type-shadow: var(--water-shadow);
}

.grass {
    --type-bg: var(--grass-bg);
    --type-border: var(--grass-border);
    --type-shadow: var(--grass-shadow);
}

.electric {
    --type-bg: var(--electric-bg);
    --type-border: var(--electric-border);
    --type-shadow: var(--electric-shadow);
}

.poison {
    --type-bg: var(--poison-bg);
    --type-border: var(--poison-border);
    --type-shadow: var(--poison-shadow);
}

.normal {
    --type-bg: var(--normal-bg);
    --type-border: var(--normal-border);
    --type-shadow: var(--normal-shadow);
}

/* .pokemonCard:hover {
    

    border-color: rgba(255, 255, 255, 1);

    box-shadow:
        0 16px 40px rgba(0, 0, 0, 0.45),
        0 0 20px rgba(255, 255, 255, 0.8);

    overflow: visible;
    transform: scale(1.1);
    
} */

.pokemonCard:hover {
    background: var(--type-bg);
    border: 2px solid var(--type-border);
    box-shadow: 0 0 40px var(--type-shadow);
    margin-top: 20px;
    overflow: visible;
    transform: scale(1.1);

    .pokemonNumber {
        display: none;
    }
}

/* IMAGE */
.pokemonImage {
    width: 140px;
    height: 140px;

    display: block;
    margin: 0 auto 20px;

    object-fit: contain;

    filter: drop-shadow(0 8px 18px rgba(0, 0, 0, 0.35));

    transition: transform 0.25s ease;
}

.pokemonCard:hover .pokemonImage {
    /* transform: scale(2.5) rotate(5deg); */
    transform: translateY(-20px) scale(1.8) rotate(12deg);
    filter: drop-shadow(0 80px 18px rgba(0, 0, 0, 0.35));
}

/* NUMBER */
.pokemonNumber {
    color: white;
    opacity: 1;
    font-size: 1.2rem;
    margin-bottom: 8px;
    width: 100%;
}

/* NAME */
.pokemonName {
    color: azure;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: var(--type-bg);

    padding: 10px;
    border-radius: 10px;
    backdrop-filter: blur(180px);
    /* -webkit-backdrop-filter: blur(18px); */
}

.types {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.type {
    padding: 6px 12px;
    border-radius: 10px;

    /* background: rgba(255,255,255,.15); */

    font-size: 0.9rem;
}

.type.fire {
    background: var(--fire-bg);
    border: 1px solid var(--fire-border);
}

.type.water {
    background: var(--water-bg);
    border: 1px solid var(--water-border);
}

.type.grass {
    background: var(--grass-bg);
    border: 1px solid var(--grass-border);
}

.type.electric {
    background: var(--electric-bg);
    border: 1px solid var(--electric-border);
}

.type.poison {
    background: var(--poison-bg);
    border: 1px solid var(--poison-border);
}

.type.normal {
    background: var(--normal-bg);
    border: 1px solid var(--normal-border);
}

.type {
    background: var(--normal-bg);
    border: 1px solid var(--normal-border);
}

#overlayContainer {
    position: fixed;
    inset: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    z-index: 5;

    .pokemonImage {
        transform: scale(2.2);
        margin-bottom: 70px;
    }
}

#overlayContainer.active {
    display: flex;
}

.overlayCard {
    width: 330px;
    height: 600px;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    /* background: rgba(255,255,255,0.1); */

    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(20px);
    color: white;
    position: relative;

    background: var(--type-bg);
    border: 2px solid var(--type-border);
    box-shadow: 0 0 40px var(--type-shadow);
}

/* .overlayCard img:hover {
width: 100%;
height: 100%;
overflow: visible;
} */

.closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    z-index: 99;
}

.closeBtn:hover {
    transform: scale(1.2) rotate(30deg);
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 99px;
    color: black;
    border: 2px solid var(--type-border);

    /* opacity: 1; */
    /* filter: drop-shadow(0 80px 18px rgba(0, 0, 0, 0.35)); */
}

.abilities,
.stats {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 4px;
}

.stats div {
    display: flex;
    /* justify-content: space-between; */
    font-size: 0.9rem;
    /* width: 100%; */
}

.overlayTabs {
    display: flex;
    gap: 12px;
    margin-top: 20px;
    width: 100%;
}

.tabBtn {
    /* width: 100px; */
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    background-color: white;
    color: black;
}

.tabBtn.active {
    /* background-color: black; */
    color: white;
}

.tabContent {
    display: none;
    margin-top: 10px;
    width: 100%;
}

.tabContent.active {
    display: block;
}

.statRow {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    margin-bottom: 5px;
}

.statName {
    margin-bottom: 6px;
    text-transform: capitalize;
}

.statBarContainer {
    width: 50%;

    height: 16px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    overflow: hidden;
}

.statBar {
    height: 100%;

    background-color: white;
    color: black;
    font-weight: bold;
    padding-left: 10px;
    display: flex;
    align-items: center;
    border-radius: 20px;
}

/* .overlayBackground {
    background: color-mix(in srgb, var(--type-bg) 40%, black);
} */

.tabBtn {
    background: var(--type-bg);
    font-weight: 400;
    color: white;
}

.tabBtn.active {
    transform: scale(1.1);
    font-weight: bold;
    border: 2px solid white;
}

#moreTab.tabContent.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.pokemonNavigation {
    display: flex;
    gap: 40px;
}

.navBtn {
    font-size: 30px;
    color: white;
}

.buttonContainer {
    width: 100%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    .btnLoadMore {
        background-color: grey;
        color: white;

        padding: 10px 35px;
        border: 1px solid white;
        border-radius: 15px;
        font-size: 1.5rem;
    }

    .btnLoadMore:hover {
        background-color: red;
    }
}



.loaderContainer {
    position: fixed;
    inset: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9;

    p {
        font-size: 3rem;
        margin-top: 10px;

    }
}

.loader {
    
    width: 300px;
    height: 300px;
    border-radius: 999px;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(20px);
    color: rgb(12, 12, 12); 
}

.loaderContainer.showLoader {
    display: flex;

}

/*
    JEDES Bild bekommt seinen eigenen
    Rotations-Offset per CSS Variable.
*/
.loader img {
    --start: 0deg;
    --mid: 90deg;
    --end: 180deg;

    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;
    object-fit: contain;

    opacity: 0;

    animation: pokemonSpinner 5s infinite linear;
}

/* Winkel werden fortlaufend weitergeführt */
.loader img:nth-child(1) {
    animation-delay: 0s;
    --start: 0deg;
    --mid: 45deg;
    --end: 90deg;
}

.loader img:nth-child(2) {
    animation-delay: 1s;
    --start: 90deg;
    --mid: 135deg;
    --end: 180deg;
}

.loader img:nth-child(3) {
    animation-delay: 2s;
    --start: 180deg;
    --mid: 225deg;
    --end: 270deg;
}

.loader img:nth-child(4) {
    animation-delay: 3s;
    --start: 270deg;
    --mid: 315deg;
    --end: 360deg;
}

.loader img:nth-child(5) {
    animation-delay: 4s;
    --start: 360deg;
    --mid: 405deg;
    --end: 450deg;
}

@keyframes pokemonSpinner {
    /* Start */
    0% {
        opacity: 0;
        transform: scale(0.7) rotate(var(--start));
    }

    /* Einblenden */
    10% {
        opacity: 1;
        transform: scale(1.2) rotate(var(--mid));
    }

    /* Direkt wieder aus */
    20% {
        opacity: 0;
        transform: scale(0.7) rotate(var(--end));
    }

    /* Winkel halten */
    100% {
        opacity: 0;
        transform: scale(0.7) rotate(var(--end));
    }
}
